/*Nav related styles*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}


.pt{
    color: #FD6E0A;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.web title{
    color: #181818;
font-size: 45px;
font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;

}

.il {
    list-style:none;
    margin-right:50px;
}

.pts {
 background: #FD6E0A;
 border-radius: 8px;
 border: 0px;
 color: white ;
 font-style: normal;
 font-weight: 700;
 padding: 15px 35px;
}

nav a {
     text-decoration: none ;
}

/*header related styles*/
.head{
    background-color: #fff8f3;
    background-image: url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.bnr-cnt{
    max-width: 500px;
    
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center ;
    justify-content: space-between;
}

.pro {
    width: 500px ;

}

.bg {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.bt {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin: bottom 20px;;
}