/*Nav related styles*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}


.pt{
    color: #FD6E0A;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.web title{
    color: #181818;
font-size: 45px;
font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;

}

.ban-cnt{

}

.il {
    list-style:none;
    margin-right:50px;
}

.pts {
 background: #FD6E0A;
 border-radius: 8px;
 border: 0px;
 color: white ;
 font-style: normal;
 font-weight: 700;
 padding: 15px 35px;
}

nav a {
     text-decoration: none ;
}

/*header related styles*/
.head{
    background-color: #fff8f3;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center ;
}

.pro {
    width: 500px ;

}